<header class="header">
  <div class="container">
  <div class="header__wrap">
    <h2 class="heading">Header</h2>
    <ul class="menu">
      <li class="menu__item">
        <a class="menu__link" [routerLink]="'../list'" [routerLinkActive]="['active']">List</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" [routerLink]="'../sorting'" [routerLinkActive]="['active']">Sorting</a>
      </li>
    </ul>
  </div>
  </div>
</header>

<main class="main">
  <section id="repeater">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </section>
</main>

<footer class="footer">Footer</footer>
